.metadata
bin/
tmp/
.tmp
.bak
.swp
~.nib 
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/ 
Debug/
Release/