
.outlined{
    border: 1px solid #FFFFFF;
    margin: 1px;
}

body {
    background: black;
    padding: 0.25em;
    margin: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: white;
}

/* Ensure we use up the full screen space with our content */
html,body {
    height: 99vh;
}

table, th, td {
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}

tr:hover {background-color: rgb(52, 79, 233);} 

/* Fancy schmancy buttons */
button {
    background: #222222;
    padding: 6.5px 10px;
    margin: 6.5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-family: "localMichroma", monospace;
    text-decoration: none;
    vertical-align: middle;
    cursor:pointer;
 }
 button:hover {
    background: #444;
    color: white;
 }
 button:active {
    background: #333;
 }
 button:disabled {
    background: black;
    color: #555;
 }

/* ------------------- */
/* Tab Support */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #555;
    background-color: #111;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #333;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #444;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #222;
    border-top: none;
    animation: fadeEffect 0.2s; 

  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }